
/*********************************************************************************/
/* Desktop (>= 480px)                                                            */
/*********************************************************************************/

/* Basic */

	body {
		min-width: 1200px;
	}

	section, article {
		margin: 0 0 20px 0;
	}

	section:last-child, article:last-child {
		margin-bottom: 0;
	}

	section.left-content {
		padding-left: 40px;
		padding-right: 30px;
		line-height:25px;
	}

	section.right-content {
		padding-left: 30px;
	}

	section.middle-content {
		padding: 0 30px 0 30px;
	}

	ul.small-image-list img {
		width: 78px;
	}

	ul.big-image-list img {
		width: 178px;
	}

/* Reusable */

	.blog-post-image {
		width: 588px;
	}

/* Header */

	#header-wrapper {
		background-color: #aa68c2;

	}

	#header {
		position: relative;
		margin: 2.5% 0 2.5% 0;
		padding: 0 40px 0 40px;
		
		background-color: #aa68c2;

		height: 86px;
	}

		#header h1 {
			position: absolute;
			left: 40px;
			top: 0;
			color: #fff;
			font-size: 2.4em;
			letter-spacing: -2px;
			line-height: 86px;
		}

		#header h1 a {
			color: #fff;
			text-decoration: none;
		}
		
		#header nav {
			position: absolute;
			right: 40px;
			top: 1px;
			line-height: 84px;
			font-size: 1.3em;
			letter-spacing: -1px;
		}
		
			#header nav a {
				display: inline-block;
				text-decoration: none;
				color: #fff;
				padding: 0 25px 0 25px;
				outline: 0;
			}
			
			#header nav a.current-page-item {
				background-color: #f0d3fb;
			
			}

			#header nav a:hover {
				background-color: #f0d3fb;
				
			}

/* Banner */

	#banner-wrapper {
		background: #f0d3fb url(images/banner1.jpg);
	}

	#banner {
		position: relative;
		width: 1160px;
		height: 265px;
		margin: 2% 0 2% 0;
		padding: 20px;
	}

		#banner h2 {
			position: absolute;
			z-index: 1;
			width: 100%;
			top: 100px;
			left: 0;
			font-size: 3.3em;
			color: #fff;
			text-align: center;
			letter-spacing: -2px;
		}
		
		#banner span {
			display: block;
			position: absolute;
			z-index: 1;
			width: 100%;
			bottom: 105px;
			left: 0;
			font-size: 1.6em;
			color: #fff;
			text-align: center;
			letter-spacing: -1px;
			text-transform: lowercase;
			opacity: 0.8;
		}

/* Main */

	#main {
		background: #fff;
		padding: 2% 0 2% 0;
	}

		#main .controls {
		}

/* Footer */

	#footer-wrapper {
		padding: 0 0 1% 0;
	}

/* Copyright */

	#copyright {
		text-align: center;
		color: #A6A88F;
		padding: 1em 0 0 0;
		margin: 1% 0 0 0;
	}

		#copyright a {
			color: #A6A88F;
		}
